# Required
PRINT_AGENT_PRINTER_HOST=192.168.1.120

# Optional
PRINT_AGENT_PRINTER_PORT=9100
PRINT_AGENT_STORE_ID=cafe
PRINT_AGENT_TERMINAL_NAME=May_Pha_Che_1
PRINT_AGENT_STORE_LABEL=ONG QUAN
PRINT_AGENT_TIME_ZONE=Asia/Ho_Chi_Minh
PRINT_AGENT_SOCKET_TIMEOUT_MS=12000
PRINT_AGENT_RETRY_INTERVAL_MS=15000

# Set path only if not using default firebase-service-account.json
# FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
